nav {
    background-color: var(--orange) !important;
}

.content .title p {
    padding: unset;
    padding-left: 20px;
    padding-bottom: 10px;
}

.content .title h1 {
    color: black;
}

.content .title h2 {
    color: var(--titleGreen);
    font-size: 1.2rem;
    padding: 10px 20px;
}

.content .split_div {
    max-height: 60vh;
    margin: 40px 0;
}

.content .split_div  img {
    max-height: 50vh;
}

.content .split_div div h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.content .split_div div p {
    color: var(--orange);
}

@media screen and (max-width: 768px) {

    nav {
        background-color: rgba(255, 153, 60, 0.6) !important;
    }

    .content {
        margin-top: 45px;
    }

    .content .split_div {
        max-height: unset;
    }
}