.header {
    margin-top: -45px;
}

.header img {
    width: 100%;
    object-fit: contain;
}

.content {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    min-height: 50vh;
}

.content .title h1 {
    color: var(--titleGreen);
}

.content .title p {
    padding: 20px 20px;
}

.image img {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .header {
        margin-top: 0;
    }

    .content .title p {
        padding-top: 20px;
        text-align: justify;
    }

    .split_div {
        flex-direction: column;
        padding: 20px 0;
    }

    .split_div div {
        width: 100%;
    }

    .split_div div a {
        margin: 0;
        padding: 20px 10px;
    }

}